/bin/
/nbproject/private/
/teste/
*.class
*.csv
.classpath
.build*
.project
.settings/
*.log

### NetBeans ###
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
