/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/*********************************************************************************
 * *******************************************************************************
 * Tela Principal
 */
.rootLayout{
	-fx-background-color: rgb(255,255,255);
}
#btnPesquisar{
	-fx-background-color: rgb(22, 161, 10);
	-fx-color: rgb(255,255,255);
	
}

/*********************************************************************************
 * *******************************************************************************
 * botão fechar da tela principal
 */
#btnFechar:hover{
	-fx-background-color: rgb(240, 60, 19);
	-fx-font-color: rgb(255,255,255);
}
/*********************************************************************************
 * *******************************************************************************
 * Tela Cadastro Servidor
 */
#btnConvenios:hover{
	-fx-background-color: rgb(80, 240, 80);
	-fx-color: rgb(255,255,255);
}
#btnSalvarServidor:hover{
	-fx-background-color: rgb(80, 240, 80);
	-fx-color: rgb(255,255,255);
}

/*********************************************************************************
 * *******************************************************************************
 * Tela Cadastro Convenio
 */
 #btnSalvarConvenio:hover{
	-fx-background-color: rgb(80, 240, 80);
	-fx-color: rgb(255,255,255);
}
#btnLimparConvenio:hover{
	-fx-background-color: rgb(6, 141, 186);
	-fx-color: rgb(255,255,255);
}

/*********************************************************************************
 * *******************************************************************************
 * Tela Visualizar Servidor 
 */
#btnConvenios:hover, #btnGerarFicha:hover{
	-fx-background-color: rgb(80, 240, 80);
	-fx-color: rgb(255,255,255);
}